<!-- PANEL 1 -->
<div class="portfolio-panel image-background-9">
    <div class="portfolio-subpanel-1 width-85">
        <div class="title-1 font-family-courier-prime text-align-center width-100">Visual environment for learning
            propositional logic</div>

        <div class="carousel-text">
            <app-image-slider [slides]="slidesLogicProject" [animationSpeed]="300"
                class="carousel-center width-50"></app-image-slider>

            <div class="description-1 font-family-courier-prime text-align-right width-40">
                The general objective of the project consists mainly of designing and building software with a highly
                visual
                interface, based on a playful metaphor, that allows the student to learn concepts related to
                propositional
                logic in an easier and more motivating way, in order to provide a suitable space for experimentation and
                conjecture.
            </div>
        </div>

        <div class="font-family-indie-flower">
            <a mat-flat-button color="primary" class="portfolio-link" href="{{env.repoEciLogicUrl}}"
                target="_blank">LINK TO THE PROJECT</a>
        </div>
    </div>
</div>
<!-- PANEL 1 END -->

<!-- PANEL 2 -->
<div class="portfolio-panel image-background-9">
    <div class="portfolio-subpanel-2 width-85">
        <div class="title-2 font-family-courier-prime text-align-center width-100">Basic music player</div>

        <div class="carousel-text">
            <div class="description-2 font-family-courier-prime text-align-left width-60">
                This is a basic music player, which is developed in Java. This player supports MP3 audio format files
                and offers basic controls such as volume adjustment and track progression. While maintaining a
                minimalist approach, this music player serves as an skeleton that can be expanded upon to incorporate
                more advanced features based on user preferences.
            </div>

            <app-image-slider [slides]="slidesMusicPlayer" [indicatorsVisible]="false" [animationSpeed]="0"
                class="carousel-center width-95"></app-image-slider>
        </div>

        <div class="font-family-indie-flower">
            <a mat-flat-button color="primary" class="portfolio-link" href="{{env.repoMusicPlayerUrl}}"
                target="_blank">LINK TO THE PROJECT</a>
        </div>
    </div>
</div>
<!-- PANEL 2 END -->

<!-- PANEL 3 -->
<div class="portfolio-panel image-background-9">
    <div class="portfolio-subpanel-3 width-85">
        <div class="title-3 font-family-courier-prime text-align-center width-100">Catholic prayers project</div>

        <div class="carousel-text-3">
            <app-image-slider [slides]="slidesPrayersProject" [animationSpeed]="300"
                class="carousel-center width-15"></app-image-slider>

            <div class="description-3 font-family-courier-prime text-align-right width-50">
                This project is focused in providing a better experience for a catholic prayer who wants to -or needs
                to- make some offerings to God, through the Holy Rosary (all the year) or the Christmas Novenas
                (December 16th to 24th). Additionally, this project has support in English and Spanish (for now).
            </div>
        </div>

        <div class="font-family-indie-flower">
            <a mat-flat-button color="primary" class="portfolio-link" href="{{env.repoCatholicPrayersUrl}}"
                target="_blank">LINK TO THE PROJECT</a>
        </div>
    </div>
</div>
<!-- PANEL 3 END -->

<!-- PANEL 4 -->
<div class="portfolio-panel image-background-9">
    <div class="portfolio-subpanel-4 width-85">
        <div class="title-4 font-family-courier-prime text-align-center width-100">Basic 2D Game - Unity</div>

        <div class="carousel-text">
            <div class="description-4 font-family-courier-prime text-align-left width-40">
                This is a very basic 2D videogame made with Unity. This mini-project was originally made as a commission
                on November 29th, 2017, but I have decided to do some little improvements, and then to upload it to this
                repository until now (April 20th, 2024).
            </div>

            <app-image-slider [slides]="slidesBasic2dGameProject" [animationSpeed]="300"
                class="carousel-center width-50"></app-image-slider>
        </div>

        <div class="font-family-indie-flower">
            <a mat-flat-button color="primary" class="portfolio-link" href="{{env.repoBasic2dGame}}"
                target="_blank">LINK TO THE PROJECT</a>
        </div>
    </div>
</div>
<!-- PANEL 4 END -->

<!-- PANEL 5 -->
<div class="portfolio-panel image-background-9">
    <div class="portfolio-subpanel-5 width-85">
        <div class="title-5 font-family-courier-prime text-align-center width-100">Other projects</div>

        <app-info-slider [slides]="slidesOthers" [animationSpeed]="300"></app-info-slider>
    </div>
</div>
<!-- PANEL 5 END -->