<div id="portfolio">
    <span class="title">{{getText("portfolio-title")}}</span>

    <div class="portfolio-panel">
        <div class="portfolio-row">
            <div class="portfolio-item">
                <span class="subtitle">{{getText("title-propositional-logic")}}</span>

                <div class="carousel-text">
                    <app-image-slider [slides]="slidesLogicProject" [animationSpeed]="300"
                        class="carousel-center"></app-image-slider>

                    <span class="description right">{{getText("description-propositional-logic")}}</span>
                </div>

                <div class="technologies-item">
                    <img alt="php" src="assets/svg/php.svg" class="tech-icon">
                    <img alt="javascript" src="assets/svg/javascript.svg" class="tech-icon">
                    <img alt="html" src="assets/svg/html.svg" class="tech-icon">
                    <img alt="css" src="assets/svg/css.svg" class="tech-icon">
                    <img alt="git" src="assets/svg/git.svg" class="tech-icon">
                </div>

                <div class="button">
                    <a mat-flat-button color="primary" class="portfolio-link" href="{{env.repoEciLogicUrl}}"
                        target="_blank">{{getText("link-project")}}</a>
                </div>
            </div>

            <div class="portfolio-item">
                <span class="subtitle">{{getText("title-music-player")}}</span>

                <div class="carousel-text">
                    <span class="description left">{{getText("description-music-player")}}</span>

                    <app-image-slider [slides]="slidesMusicPlayer" [indicatorsVisible]="false" [animationSpeed]="0"
                        class="carousel-center"></app-image-slider>
                </div>

                <div class="technologies-item">
                    <img alt="java" src="assets/svg/java.svg" class="tech-icon">
                    <img alt="git" src="assets/svg/git.svg" class="tech-icon">
                </div>

                <div class="">
                    <a mat-flat-button color="primary" class="portfolio-link" href="{{env.repoMusicPlayerUrl}}"
                        target="_blank">{{getText("link-project")}}</a>
                </div>
            </div>
        </div>

        <div class="portfolio-row">
            <div class="portfolio-item">
                <span class="subtitle">{{getText("title-catholic-prayers")}}</span>

                <div class="carousel-text">
                    <app-image-slider [slides]="slidesPrayersProject" [animationSpeed]="300"
                        class="carousel-center"></app-image-slider>

                    <span class="description right">{{getText("description-catholic-prayers")}}</span>
                </div>

                <div class="technologies-item">
                    <img alt="java" src="assets/svg/java.svg" class="tech-icon">
                    <img alt="git" src="assets/svg/git.svg" class="tech-icon">
                    <img alt="gradle" src="assets/svg/gradle.svg" class="tech-icon">
                </div>

                <div class="button">
                    <a mat-flat-button color="primary" class="portfolio-link" href="{{env.repoCatholicPrayersUrl}}"
                        target="_blank">{{getText("link-project")}}</a>
                </div>
            </div>

            <div class="portfolio-item">
                <span class="subtitle">{{getText("title-basic-game")}}</span>

                <div class="carousel-text">
                    <span class="description left">{{getText("description-basic-game")}}</span>

                    <app-image-slider [slides]="slidesBasic2dGameProject" [animationSpeed]="300"
                        class="carousel-center"></app-image-slider>
                </div>

                <div class="technologies-item">
                    <img alt="cs" src="assets/svg/csharp.svg" class="tech-icon">
                    <img alt="unity" src="assets/svg/unity.svg" class="tech-icon">
                    <img alt="git" src="assets/svg/git.svg" class="tech-icon">
                </div>

                <div class="button">
                    <a mat-flat-button color="primary" class="portfolio-link" href="{{env.repoBasic2dGame}}"
                        target="_blank">{{getText("link-project")}}</a>
                </div>
            </div>
        </div>
    </div>

    <span class="title">{{getText("portfolio-other-projects")}}</span>

    <div class="other-projects">
        <div class="slides">
            <div class="slide" [style]="{transition: 'opacity ' + animationSpeed + 'ms ease-in-out'}">
                <div class="title">{{getText(slidesOthers[currentSlide].title)}}</div>
                <div class="description">
                    {{getText(slidesOthers[currentSlide].description)}}</div>
                <div class="technologies-item" *ngIf="slidesOthers[currentSlide].technologies !== null">
                    @for(technology of slidesOthers[currentSlide].technologies; track $index) {
                    <img [alt]="technology" [src]="'assets/svg/' + technology + '.svg'" class="tech-icon">
                    }
                </div>
                <div class="button" *ngIf="slidesOthers[currentSlide].url !== null">
                    <a mat-flat-button color="primary" class="link" href="{{slidesOthers[currentSlide].url}}"
                        target="_blank">{{getText("link-project")}}</a>
                </div>
            </div>

            <div class="indicators">
                @for(slide of slidesOthers; track $index) {
                <div class="indicator" [class]="{ active: $index === currentSlide }" (click)="jumpToSlide($index)"
                    onkeypress="">
                </div>
                }
            </div>

            @if(slidesOthers.length > 1) {
            <button (click)="next()" class="nextButton">
                <fa-icon [icon]="faArrowRight"></fa-icon>
            </button>
            <button (click)="previous()" class="previousButton">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
            </button>
            }
        </div>
    </div>
</div>