#portfolio {
    padding: 7vh 0 7vh 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #172c50;
    row-gap: 2rem;
}

.title {
    color: #f88982;
    font-size: 6vh;
    text-align: center;
}

.portfolio-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

    .portfolio-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;

        .portfolio-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            row-gap: 1rem;
            width: 35%;

            background: rgb(181 181 181 / 80%);
            border-radius: 2rem;
            padding: 1% 2% 1% 2%;

            .subtitle {
                color: #586dbd;
                font-size: 4vh;
                font-weight: 400;
                word-wrap: break-word;
                text-align: center;
            }

            .description {
                color: #2f2f2f;
                font-size: 1.6vh;
                font-weight: 400;
                word-wrap: break-word;
                width: 50%;
            }

            .right {
                text-align: right;
            }

            .left {
                text-align: left;
            }

            .carousel-center {
                display: flex;
                align-self: center;
            }

            .carousel-text {
                display: flex;
                align-items: center;
                justify-content: space-between;
                column-gap: 5rem;
            }

            .portfolio-link {
                text-align: center;
                font-size: 3vh;
                word-wrap: break-word;
                height: 8vh;
                width: 45%;
            }
        }
    }
}

.other-projects {
    width: 80%;
}

@media only screen and (max-width: 1400px) {
    .portfolio-panel {
        .portfolio-row {
            .portfolio-item {
                .carousel-text {
                    column-gap: 4rem;
                }

                .description {
                    font-size: 1.5vh;
                }

                .portfolio-link {
                    font-size: 2.7vh;
                    height: 7vh;
                    width: 42%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .portfolio-panel {
        .portfolio-row {
            .portfolio-item {
                .carousel-text {
                    column-gap: 3rem;
                }

                .portfolio-link {
                    font-size: 2.5vh;
                    width: 40%;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #portfolio {
        padding: 6vh 0 6vh 0;
    }

    .portfolio-panel {
        .portfolio-row {
            flex-direction: column;
            row-gap: 2rem;

            .portfolio-item {
                width: 75%;
                row-gap: 3rem;
                padding: 4% 2%;

                .subtitle {
                    font-size: 3.5vh;
                }

                .carousel-text {
                    flex-direction: column;
                    row-gap: 2rem;

                    .right,
                    .left {
                        text-align: center;
                    }
                }

                .portfolio-link {
                    font-size: 2.1vh;
                    width: 35%;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #portfolio {
        padding: 8vh 0 8vh 0;
    }

    .portfolio-panel {
        .portfolio-row {
            .portfolio-item {
                .subtitle {
                    font-size: 4vh;
                }

                .carousel-text {
                    row-gap: 1rem;

                    .description {
                        font-size: 1.8vh;
                    }
                }

                .portfolio-link {
                    font-size: 2.5vh;
                    width: 60%;
                }
            }
        }
    }
}

@media only screen and (max-width: 472px) {
    .title {
        font-size: 4vh;
    }

    .portfolio-panel {
        .portfolio-row {
            .portfolio-item {
                .subtitle {
                    font-size: 3vh;
                }

                .carousel-text {
                    .description {
                        font-size: 1.2vh;
                        line-height: 1.5vh;
                    }
                }

                .portfolio-link {
                    font-size: 2vh;
                    width: 60%;
                    height: 6vh;
                }
            }
        }
    }
}