<div id="about">
    <div class="home-panel-content-1">
        <span class="title">{{getText("about-me-title")}}</span>
        <div class="description">
            <span>{{getText("about-me-paragraph-1")}}</span>
            <span>{{getText("about-me-paragraph-2")}}</span>
        </div>
    </div>
    <div class="home-panel-content-2">
        <span class="title">{{getText("about-me-skills")}}</span>
        <div class="description">
            <div class="row-1">
                <img alt="cs" src="assets/svg/csharp.svg" class="tech-icon">
                <img alt="java" src="assets/svg/java.svg" class="tech-icon">
                <img alt="python" src="assets/svg/python.svg" class="tech-icon">
                <img alt="php" src="assets/svg/php.svg" class="tech-icon">
                <img alt="javascript" src="assets/svg/javascript.svg" class="tech-icon">
                <img alt="html" src="assets/svg/html.svg" class="tech-icon">
                <img alt="css" src="assets/svg/css.svg" class="tech-icon">
            </div>
            <div class="row-2">
                <img alt="unity" src="assets/svg/unity.svg" class="tech-icon">
                <img alt="spring" src="assets/svg/springboot.svg" class="tech-icon">
                <img alt="yii" src="assets/svg/yii.svg" class="tech-icon">
                <img alt="typescript" src="assets/svg/typescript.svg" class="tech-icon">
                <img alt="nodejs" src="assets/svg/nodejs.svg" class="tech-icon">
                <img alt="angular" src="assets/svg/angular.svg" class="tech-icon">
            </div>
            <div class="row-3">
                <img alt="oracle" src="assets/svg/oracle.svg" class="tech-icon">
                <img alt="mysql" src="assets/svg/mysql.svg" class="tech-icon">
                <img alt="postgresql" src="assets/svg/postgresql.svg" class="tech-icon">
                <img alt="redis" src="assets/svg/redis.svg" class="tech-icon">
                <img alt="powerbi" src="assets/svg/powerbi.svg" class="tech-icon">
            </div>
            <div class="row-4">
                <img alt="git" src="assets/svg/git.svg" class="tech-icon">
                <img alt="maven" src="assets/svg/maven.svg" class="tech-icon">
                <img alt="gradle" src="assets/svg/gradle.svg" class="tech-icon">
                <img alt="xampp" src="assets/svg/xampp.svg" class="tech-icon">
            </div>
        </div>
    </div>
</div>