<div id="studies">
    <span class="title">{{getText("studies-title")}}</span>
    <div class="list-studies">
        <div class="item-study">
            <div class="details-item">
                <span class="left bold">{{getText("study-1-title")}}</span>
                <span class="right">{{getText("study-1-duration")}}</span>
                <a class="left" href="{{env.canadianCollegeLink}}" target="_blank">Canadian College</a>
                <span class="right">Vancouver, BC</span>
            </div>
        </div>
        <div class="item-study">
            <div class="details-item">
                <span class="left bold">{{getText("study-2-title")}}</span>
                <span class="right">{{getText("study-2-duration")}}</span>
                <a class="left" href="{{env.viuLink}}" target="_blank">Universidad Internacional de Valencia</a>
                <span class="right">Bogotá D.C, Colombia ({{getText("remote")}})</span>
            </div>
        </div>
        <div class="item-study last">
            <div class="details-item">
                <span class="left bold">{{getText("study-3-title")}} <a class="wes-link" href="{{env.eciWesLink}}"
                        target="_blank">(WES Canada)</a></span>
                <span class="right">{{getText("study-3-duration")}}</span>
                <a class="left" href="{{env.eciLink}}" target="_blank">Escuela Colombiana de Ingenieria Julio
                    Garavito</a>
                <span class="right">Bogotá D.C, Colombia</span>
            </div>
        </div>
    </div>
</div>