#studies {
    padding: 7vh 0 6vh 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    background-color: #486fb3;
}

.title {
    color: #991f17;
    font-size: 6vh;
    text-align: center;
    text-transform: uppercase;
}

.list-studies {
    width: 60%;
    background: rgb(181 181 181 / 80%);
    border-radius: 2rem;
    padding: 1% 2%;

    .item-study {
        border-bottom-style: dashed;
        border-bottom-color: #586dbd;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1vh;

        .details-item {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            span,
            a {
                flex: 1 1 40%;
                padding: 0.3vh 0;
                font-size: 2.5vh;

                .wes-link {
                    font-size: 1.5vh;
                }
            }

            span {
                color: #2f2f2f;
            }

            a {
                text-decoration: none;
                color: #3f5299;

                &:hover {
                    color: #2955ff;
                }
            }

            .bold {
                font-weight: 500;
            }

            .left {
                text-align: left;
            }

            .right {
                text-align: right;
            }
        }
    }

    .last {
        border-bottom-style: none;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 992px) {
    #studies {
        padding: 6vh 0 6vh 0;
    }

    .list-studies {
        width: 75%;
        row-gap: 3rem;
        padding: 4% 2%;

        .item-study {
            padding: 1rem 0;

            .details-item {

                span,
                a {
                    padding: 0.2vh 0;
                    font-size: 1.6vh;

                    .wes-link {
                        font-size: 1.2vh;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #studies {
        padding: 8vh 0 8vh 0;
    }

    .list-studies {

        .item-study {
            .details-item {

                span,
                a {
                    padding: 0.1vh 0;
                    font-size: 1.4vh;

                    .wes-link {
                        font-size: 1vh;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 472px) {
    .title {
        font-size: 4vh;
    }
}