@import '../../../assets/css/files.css';
@import '../../../assets/css/fonts.css';
@import '../../../assets/css/common.css';

.separator {
    width: 75%;
}

.home-panel-1, 
.home-panel-3 {
    height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    column-gap: 5rem;
    background-color: #172c50;
}

.home-panel-img-1 {
    width: 30%;
}

.home-panel-text-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 11rem;
    width: 40%;
    padding: 0 4vh 0 4vh;
}

.title-1 {
    color: #F88982;
    font-size: 6vh;
    font-weight: 400;
    word-wrap: break-word;
}

.description-1 {
    color: white;
    font-size: 3vh;
    font-weight: 400;
    word-wrap: break-word;
}

.buttons-cta {
    display: flex;
    justify-content: center;
    column-gap: 4rem;
}

.cta-button-1 {
    background-color: #F88982;
    padding: 0.6vh 1.5vh;
    color: #172c50;
    font-size: 2.5vh;
    border: 2px solid #F88982;
    text-decoration: none;
    border-radius: 1vh;
    &:hover {
        background-color: #f56960;
        border: 2px solid #f56960;
        color: #052864;
    }
}

.cta-button-2 {
    padding: 0.6vh 1.5vh;
    color: #F88982;
    font-size: 2.5vh;
    border: 2px solid #F88982;
    text-decoration: none;
    border-radius: 1vh;
    &:hover {
        color: #f56960;
        border: 2px solid #f56960;
        background-color: #052864;
    }
}

.home-panel-2 {
    height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 5rem;
    background-color: #7a8daf;
}

.home-panel-img-2 {
    width: 15%;
}

.home-panel-text-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 5rem;
    width: 45%;
    padding: 0 4vh 0 4vh;
}

.title-2 {
    color: #99443f;
    font-size: 7vh;
    font-weight: 400;
    line-height: 8vh;
    word-wrap: break-word;
}

.subtitle-2 {
    color: #99443f;
    font-size: 3vh;
    font-weight: 400;
    line-height: 3vh;
    word-wrap: break-word;
}

.description-2 {
    color: #545454;
    font-size: 3vh;
    font-weight: 400;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    line-height: 5vh;
}

.home-panel-text-3 {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.table-panel-3 {
    display: flex;
}

.frontend-section,
.backend-section {
    background: #D9D9D9;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frontend-header,
.backend-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.red-circle {
    background: #E48989;
    border-radius: 9999px;
    width: 10vh;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-frontend,
.title-backend {
    text-align: center;
    color: #514F4F;
    font-size: 48px;
    font-weight: 400;
    word-wrap: break-word;
}

.frontend-languages,
.frontend-tools,
.backend-languages,
.backend-tools {
    text-align: center;
}

.languages-title,
.tools-title {
    color: #E48989;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
}

.languages-text,
.tools-text {
    color: #514F4F;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
}

@media only screen and (max-width: 1400px) {

    .home-panel-1 {
        column-gap: 2rem;
    }

    .home-panel-text-1 {
        row-gap: 6rem;
    }

    .title-1 {
        font-size: 4vh;
    }

    .description-1 {
        font-size: 3vh;
    }

    .home-panel-2 {
        column-gap: 2rem;
    }

    .home-panel-text-2 {
        row-gap: 3rem;
    }

    .title-2 {
        font-size: 4vh;
        line-height: 5vh;
    }

    .subtitle-2 {
        font-size: 2.2vh;
    }

    .description-2 {
        font-size: 2.5vh;
        line-height: 3.3vh;
    }

    .title-frontend,
    .title-backend {
        font-size: 40px;
    }

    .languages-title,
    .tools-title {
        font-size: 17px;
    }

    .languages-text,
    .tools-text {
        font-size: 15px;
    }

}

@media only screen and (max-width: 1200px) {

    .home-panel-text-3 {
        top: 53%;
    }

    .languages-title,
    .tools-title {
        font-size: 15px;
    }

    .languages-text,
    .tools-text {
        font-size: 12px;
    }

    .frontend-section.height-50vh .backend-section.height-50vh {
        height: 36vh;
    }

}

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 768px) {

    .table-panel-3 {
        display: flex;
        flex-direction: column;
    }

    .frontend-section,
    .backend-section {
        height: 35vh;
    }

    .separator {
        height: 5%;
    }

    .table-panel-3.width-75 {
        width: 40%;
    }
}

@media only screen and (max-width: 472px) {

    .title-frontend,
    .title-backend {
        font-size: 22px;
    }

    .red-circle {
        width: 8vh;
        height: 8vh;
    }

    .languages-title {
        font-size: 13px;
    }

    .languages-text {
        font-size: 10px;
    }

}