#home {
    padding: 10vh 0 6vh 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    column-gap: 5rem;
    background-color: #172c50;
}

.portrait {
    width: 20vh;
    border-radius: 50%;
    mask-image: radial-gradient(ellipse 90% 80% at 48% 50%, black 25%, transparent 55%);
}

.home-panel-content-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;

    .title {
        color: #f88982;
        font-size: 6vh;
        text-align: center;
    }

    .subtitle {
        color: #fff;
        font-size: 3vh;
        text-align: center;
    }

    .description {
        color: #fff;
        font-size: 1.5vh;
        display: flex;
        align-items: center;
    }

    .buttons-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 4rem;
        padding: 1vh 0;

        .cta-button-1 {
            background-color: #f88982;
            padding: .6vh 1.5vh;
            color: #172c50;
            font-size: 2.5vh;
            border: 2px solid #F88982;
            text-decoration: none;
            border-radius: 1vh;

            &:hover {
                background-color: #f56960;
                border: 2px solid #f56960;
                color: #052864;
            }
        }

        .cta-button-2 {
            padding: .6vh 1.5vh;
            color: #f88982;
            font-size: 2.5vh;
            border: 2px solid #F88982;
            text-decoration: none;
            border-radius: 1vh;

            &:hover {
                color: #f56960;
                border: 2px solid #f56960;
                background-color: #052864;
            }
        }
    }

    .social-media {
        display: flex;
        align-items: center;
        justify-content: space-around;
        column-gap: 1.2rem;
        align-self: center;

        .fa-linkedin {
            background: #007bb5;
            color: white;
            text-decoration: none;
            z-index: 10;
        }

        .fa-github {
            color: white;
            text-decoration: none;
            z-index: 10;
        }

        .fa-bitbucket {
            color: #0052cc;
            text-decoration: none;
            z-index: 10;
        }

        .fa-download {
            color: #007bb5;
            text-decoration: none;
            z-index: 10;
        }
    }
}

.section-separator {
    width: 100%;
    display: flex;
    align-items: center;

    .separator {
        width: 100%;
        height: .5rem;
        --tw-bg-opacity: 1;
        background-color: rgb(45 212 191 / var(--tw-bg-opacity));
    }
}

@media only screen and (max-width: 1400px) {
    /*empty*/
}

@media only screen and (max-width: 1200px) {
    /*empty*/
}

@media only screen and (max-width: 992px) {
    #home {
        flex-direction: column;
        padding: 7vh 0 6vh 0;
    }

    .home-panel-content-1 {
        row-gap: 1.5rem;

        .buttons-cta {

            .cta-button-1,
            .cta-button-2 {
                padding: 2vh 2.5vh;
            }
        }

        .social-media {
            column-gap: 4rem;
            font-size: 2rem;
        }
    }
}

@media only screen and (max-width: 768px) {
    .home-panel-content-1 {
        .social-media {
            column-gap: 3rem;
            font-size: 1.6rem;
        }
    }
}

@media only screen and (max-width: 472px) {
    .home-panel-content-1 {
        row-gap: 0.5rem;

        .title {
            font-size: 3vh;
        }

        .subtitle {
            font-size: 2vh;
        }

        .description {
            font-size: 1vh;
        }

        .buttons-cta {
            column-gap: 1rem;

            .cta-button-1,
            .cta-button-2 {
                font-size: 2vh;
            }
        }

        .social-media {
            column-gap: 2.5rem;
            font-size: 1.4rem;
        }
    }
}