<!-- HOME SECTION -->
<div id="home">
    <div class="home-panel-img-1">
        <img alt="portrait" class="portrait" src="assets/img/Con los perros.jpg">
    </div>
    <div class="home-panel-content-1">
        <span class="title">Julián González Prieto</span>
        <span class="subtitle">{{getText("my-career")}}</span>
        <div class="description">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-map-pin css-svt5ra">
                <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
                <circle cx="12" cy="10" r="3"></circle>
                map-pin
            </svg>
            <span>Bogotá D.C, Colombia</span>
        </div>
        <div class="buttons-cta">
            <a class="cta-button-2" href="#portfolio">{{getText("portfolio-title")}}</a>
            <a class="cta-button-1" href="#contact">{{getText("contact-title")}}</a>
        </div>
        <div class="social-media">
            <a class="fa fa-download" [href]="isInEnglish() ? env.cvLinkEn : (isInSpanish() ? env.cvLinkSp : '')"
                target="_blank" [title]="getText('sm-my-cv')">
            </a>
            <a class="fa fa-linkedin" [href]="env.linkedinUrl" target="_blank" [title]="getText('sm-my-linkedin')">
            </a>
            <a class="fa fa-github" [href]="env.githubUrl" target="_blank" [title]="getText('sm-my-github')">
            </a>
            <a class="fa fa-bitbucket" [href]="env.bitbucketUrl" target="_blank" [title]="getText('sm-my-bitbucket')">
            </a>
        </div>
    </div>
</div>
<!-- HOME SECTION END -->

<app-separator></app-separator>

<!-- ABOUT SECTION -->
<app-about></app-about>
<!-- ABOUT SECTION END -->

<app-separator></app-separator>

<!-- PORTFOLIO SECTION -->
<app-portfolio></app-portfolio>
<!-- PORTFOLIO SECTION END -->

<app-separator></app-separator>

<!-- EXPERIENCE SECTION -->
<app-experience></app-experience>
<!-- EXPERIENCE SECTION END -->

<app-separator></app-separator>

<!-- STUDIES SECTION -->
<app-studies></app-studies>
<!-- STUDIES SECTION END -->

<app-separator></app-separator>

<!-- CONTACT SECTION -->
<app-contact></app-contact>
<!-- CONTACT SECTION END -->