<!-- PANEL 1 -->
<div id="home">
    <div class="home-panel-img-1">
        <img alt="portrait" class="portrait" src="assets/img/Con los perros.jpg">
    </div>
    <div class="home-panel-content-1">
        <span class="title">Julián González Prieto</span>
        <span class="subtitle">{{getText("my-career")}}</span>
        <div class="description">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-map-pin css-svt5ra">
                <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
                <circle cx="12" cy="10" r="3"></circle>
                map-pin
            </svg>
            <span>Bogotá D.C, Colombia</span>
        </div>
        <div class="buttons-cta">
            <a class="cta-button-1" href="#portfolio" mat-button>{{getText("cta-portfolio")}}</a>
            <a class="cta-button-2" href="mailto:{{env.mailto}}" mat-button>{{getText("cta-contact-me")}}</a>
        </div>
        <div class="social-media">
            <a class="fa fa-download" [href]="isInEnglish() ? env.cvLinkEn : (isInSpanish() ? env.cvLinkSp : '')"
                target="_blank" [title]="getText('sm-my-cv')">
            </a>
            <a class="fa fa-linkedin" [href]="env.linkedinUrl" target="_blank" [title]="getText('sm-my-linkedin')">
            </a>
            <a class="fa fa-github" [href]="env.githubUrl" target="_blank" [title]="getText('sm-my-github')">
            </a>
            <a class="fa fa-bitbucket" [href]="env.bitbucketUrl" target="_blank" [title]="getText('sm-my-bitbucket')">
            </a>
        </div>
    </div>
</div>
<!-- PANEL 1 END -->

<!-- SEPARATOR -->
<div class="section-separator">
    <span class="separator"></span>
</div>
<!-- SEPARATOR END -->

<app-about></app-about>

<!-- SEPARATOR -->
<div class="section-separator">
    <span class="separator"></span>
</div>
<!-- SEPARATOR END -->

<app-portfolio></app-portfolio>