<div class="footer">
    <div class="sm-icons">
        <a class="fa fa-twitter" href="{{env.twitterUrl}}" target="_blank" title="Developer on Twitter">
        </a>
        <a class="fa fa-linkedin" href="{{env.linkedinUrl}}" target="_blank" title="Developer on LinkedIn">
        </a>
        <a class="fa fa-github" href="{{env.githubUrl}}" target="_blank" title="Developer on GitHub">
        </a>
        <a class="fa fa-bitbucket" href="{{env.bitbucketUrl}}" target="_blank" title="Developer on BitBucket">
        </a>
    </div>
    <ul class="footer-navigation">
        <li class="footer-item font-family-courier-prime">
            <a mat-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="footer-item font-family-courier-prime">
            <a mat-button routerLink="/portfolio" routerLinkActive="active" ariaCurrentWhenActive="page">Portfolio</a>
        </li>
        <li class="footer-item font-family-courier-prime">
            <a mat-button routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
        </li>
    </ul>
    <div class="author font-family-courier-prime text-align-center width-50">
        Copyright &copy; {{env.year}} Julián González Prieto
    </div>
</div>

<app-scroll-to-top></app-scroll-to-top>