@import '../../../assets/css/fonts.css';
@import '../../../assets/css/common.css';

:host {
    .footer {
        height: 8vh;
        position: relative;
        background-color: #2B2B2B;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        row-gap: 0.1rem;
        padding: 0.5% 0 0.5% 0;

        .sm-icons {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 10%;

            .fa-twitter {
                background: #55ACEE;
                color: white;
                text-decoration: none;
                z-index: 1000;
            }

            .fa-linkedin {
                background: #007bb5;
                color: white;
                text-decoration: none;
                z-index: 1000;
            }

            .fa-github {
                color: white;
                text-decoration: none;
                z-index: 1000;
            }

            .fa-bitbucket {
                color: #0052cc;
                text-decoration: none;
                z-index: 1000;
            }

            .fa-envelope {
                color: #007bb5;
                text-decoration: none;
                z-index: 1000;
            }
        }

        .footer-navigation {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            column-gap: 0.2rem;

            .footer-item a {
                color: #C6CDD3;
                font-size: 0.7rem;
                font-weight: 400;
                word-wrap: break-word;
            }
        }

        .author {
            color: #c6cdd3a3;
            font-size: 0.5rem;
            font-weight: 400;
            word-wrap: break-word;
        }
    }
}

@media only screen and (max-width: 1200px) {

    :host {
        .footer {
            padding: 0.7% 0 0.7% 0;

            .sm-icons {
                width: 12%;
            }
        }
    }

}

@media only screen and (max-width: 992px) {

    :host {
        .footer {
            padding: 1% 0 1% 0;

            .sm-icons {
                width: 16%;
            }
        }
    }

}

@media only screen and (max-width: 768px) {

    :host {
        .footer {
            padding: 1.2% 0 1.2% 0;

            .sm-icons {
                width: 20%;
            }
        }
    }

}

@media only screen and (max-width: 472px) {

    :host {
        .footer {
            padding: 2% 0 2% 0;

            .sm-icons {
                width: 30%;
            }

            .author {
                font-size: 0.3rem;
            }

            .footer-navigation {
                .footer-item a {
                    font-size: 0.5rem;
                }
            }
        }
    }
}