.image-background-1 {
    background-image: url('../img/WoWScrnShot_020324_165142_2.jpg');
    background-repeat: no-repeat;
    width: 100%;
}

.image-background-2 {
    background-image: url('../img/WoWScrnShot_020324_173939_2.jpg');
    background-repeat: no-repeat;
    width: 100%;
}

.image-background-3 {
    background-image: url('../img/WoWScrnShot_020324_184154_2.jpg');
    background-repeat: no-repeat;
    width: 100%;
}

.image-background-4 {
    background-image: url('../img/WoWScrnShot_020524_180611_2.jpg');
    background-repeat: no-repeat;
    width: 100%;
}

.image-background-5 {
    background-image: url('../img/WoWScrnShot_020524_180642_2.jpg');
    background-repeat: no-repeat;
    width: 100%;
}

.image-background-6 {
    background-image: url('../img/WoWScrnShot_020524_180811_2.jpg');
    background-repeat: no-repeat;
    width: 100%;
}

.image-background-7 {
    background-image: url('../img/WoWScrnShot_020624_195405_2.jpg');
    background-repeat: no-repeat;
    width: 100%;
}

.image-background-8 {
    background-image: url('../img/WoWScrnShot_020624_195932_2.jpg');
    background-repeat: no-repeat;
    width: 100%;
}

.image-background-9 {
    background-image: url('../img/WoWScrnShot_021924_163246_2.jpg');
    background-repeat: no-repeat;
    width: 100%;
}