@font-face {
    font-family: 'CourierPrime';
    src: url('../fonts/CourierPrime/CourierPrime-Regular.ttf');
}

@font-face {
    font-family: 'IrishGrover';
    src: url('../fonts/IrishGrover/IrishGrover-Regular.ttf');
}

@font-face {
    font-family: 'IndieFlower';
    src: url('../fonts/IndieFlower/IndieFlower-Regular.ttf');
}

.font-family-courier-prime {
    font-family: 'CourierPrime';
}

.font-family-irish-grover {
    font-family: 'IrishGrover';
}

.font-family-indie-flower {
    font-family: 'IndieFlower';
}