@import '../../assets/css/files.css';
@import '../../assets/css/fonts.css';
@import '../../assets/css/common.css';

.title-1 {
    color: #586dbd;
    font-size: 48px;
    font-weight: 400;
    line-height: 50px;
    word-wrap: break-word;
}

.description-1 {
    color: white;
    font-size: 26px;
    font-weight: 400;
    word-wrap: break-word;
}

.portfolio-panel {
    height: 100vh;
    position: relative;
}

.portfolio-subpanel-1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 6rem;
}

.portfolio-link {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    word-wrap: break-word;
    width: 35%;
    height: 7vh;
}

.carousel-center {
    display: flex;
    align-self: center;
}

.carousel-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (max-width: 1400px) {

    .description-1 {
        font-size: 20px;
    }

    .portfolio-link {
        font-size: 35px;
    }

}

@media only screen and (max-width: 1200px) {

    .title-1 {
        font-size: 40px;
    }

    .description-1 {
        font-size: 18px;
    }

    .portfolio-link {
        font-size: 30px;
    }

    .portfolio-subpanel-1 {
        row-gap: 5rem;
    }

}

@media only screen and (max-width: 992px) {

    .title-1 {
        font-size: 45px;
    }

    .portfolio-link {
        font-size: 22px;
        width: 33%;
        height: 5vh;
    }

    .portfolio-subpanel-1 {
        row-gap: 6rem;
    }

}

@media only screen and (max-width: 768px) {

    .title-1 {
        font-size: 35px;
    }

    .description-1 {
        font-size: 15px;
    }

    .portfolio-link {
        font-size: 15px;
        width: 34%;
        height: 6vh;
    }

    .portfolio-subpanel-1 {
        row-gap: 3rem;
    }

    .carousel-text {
        flex-direction: column;
        row-gap: 2rem;
    }

    .width-50 {
        width: 75%;
    }

    .width-40 {
        width: 100%;
    }

}