<!-- PANEL 1 -->
<div class="portfolio-panel image-background-6">
    <div class="portfolio-subpanel-1 width-85">
        <div class="title-1 font-family-irish-grover text-align-center width-100">Visual environment for learning
            propositional logic</div>

        <div class="carousel-text">
            <app-image-slider [slides]="slidesLogicProject" [animationSpeed]="300"
                class="carousel-center width-50"></app-image-slider>

            <div class="description-1 font-family-courier-prime text-align-right width-40">
                The general objective of the project consists mainly of designing and building software with a highly
                visual
                interface, based on a playful metaphor, that allows the student to learn concepts related to
                propositional
                logic in an easier and more motivating way, in order to provide a suitable space for experimentation and
                conjecture.
            </div>
        </div>

        <div class="font-family-indie-flower">
            <a mat-flat-button color="primary" class="portfolio-link" href="https://github.com/nailuj1992/ECI-Logic"
                target="_blank">LINK TO THE PROJECT</a>
        </div>
    </div>
</div>
<!-- PANEL 1 END -->

<!-- PANEL 2 -->
<div class="portfolio-panel image-background-5">
    <div class="portfolio-subpanel-2 width-85">
        <div class="title-2 font-family-irish-grover text-align-center width-100">Basic music player</div>

        <div class="carousel-text">
            <div class="description-2 font-family-courier-prime text-align-left width-60">
                This is a basic music player, which is developed in Java. This player supports MP3 audio format files
                and offers basic controls such as volume adjustment and track progression. While maintaining a
                minimalist approach, this music player serves as an skeleton that can be expanded upon to incorporate
                more advanced features based on user preferences.
            </div>

            <app-image-slider [slides]="slidesMusicPlayer" [indicatorsVisible]="false" [animationSpeed]="0"
                class="carousel-center width-95"></app-image-slider>
        </div>

        <div class="font-family-indie-flower">
            <a mat-flat-button color="primary" class="portfolio-link"
                href="https://github.com/nailuj1992/ReproductorMusica" target="_blank">LINK TO THE PROJECT</a>
        </div>
    </div>
    <!-- PANEL 2 END -->