<main class="main">
  <div class="content">
    <!-- MENU -->
    <div class="menu">
      <img [src]="logo" class="logo" alt="logo" />
      <div class="menu-items">
        <div class="menu-item font-family-courier-prime padding-left-5 padding-right-5">Home</div>
        <div class="menu-item font-family-courier-prime padding-left-5 padding-right-5">Portfolio</div>
        <div class="menu-item font-family-courier-prime padding-left-5 padding-right-5">Contact</div>
      </div>
    </div>
    <!-- MENU END -->

    <!-- PANEL 1 -->
    <div class="home-panel image-background-1">
      <div class="home-panel-text-1 width-60">
        <div class="title-1 font-family-irish-grover">Full stack Software Developer</div>
        <div class="description-1 font-family-courier-prime">Dedicated and enthusiastic person. I love coding, and also
          providing you awesome solutions.</div>
      </div>
    </div>
    <!-- PANEL 1 END -->

    <!-- PANEL 2 -->
    <div class="home-panel image-background-2">
      <div class="home-panel-text-2 width-85">
        <div class="section-2">
          <div class="width-48">
            <div class="padding-bottom-10vh">
              <div class="title-2 font-family-irish-grover padding-botton-1">
                Hi all! My name is Julian.
              </div>
              <div class="subtitle-2 font-family-irish-grover padding-top-1">
                I am a Fullstack Developer based in Vancouver.
              </div>
            </div>
            <div class="description-2 font-family-courier-prime padding-top-10vh">
              <span>I’ve been working as developer since 2015.</span>
              <span>I’ve always been a person who has dedication and focus on
                analyze situations and writing clean and well-maintained code.</span>
            </div>
          </div>
          <img src="../assets/img/nailuj-happy.png" class="width-40vh" alt="" />
        </div>
      </div>
    </div>
    <!-- PANEL 2 END -->

    <!-- PANEL 3 -->
    <div class="home-panel image-background-3">
      <div class="home-panel-text-3 width-100">

        <div class="table-panel-3 width-75">
          <!-- FRONTEND SECTION -->
          <div class="frontend-section width-100 height-50vh padding-top-bottom-2">
            <div class="frontend-header">
              <div class="red-circle">
                <img src="../assets/img/frontend-icon.png" alt="" class="width-70" />
              </div>
              <div class="title-frontend font-family-indie-flower">FRONTEND</div>
            </div>
            <div class="frontend-languages font-family-indie-flower">
              <div class="languages-title">Languages & Frameworks</div>
              <div class="languages-text">HTML, CSS, Javascript, JQuery, <br />Angular, Liferay, PHP, Yii</div>
            </div>
            <div class="frontend-tools font-family-indie-flower">
              <div class="tools-title">Tools</div>
              <div class="tools-text">NodeJS, Bootstrap, VS Code, <br />Figma, Git, Filezilla</div>
            </div>
          </div>
          <!-- FRONTEND SECTION END -->

          <div class="separator"></div>

          <!-- BACKEND SECTION -->
          <div class="backend-section width-100 height-50vh padding-top-bottom-2">
            <div class="backend-header">
              <div class="red-circle">
                <img src="../assets/img/backend-icon.png" alt="" class="width-70" />
              </div>
              <div class="title-backend font-family-indie-flower">BACKEND</div>
            </div>
            <div class="backend-languages font-family-indie-flower">
              <div class="languages-title">Languages & Frameworks</div>
              <div class="languages-text">Java, SpringBoot, JSF, Liferay, <br />JPA, PHP, Yii</div>
            </div>
            <div class="backend-tools font-family-indie-flower">
              <div class="tools-title">Tools</div>
              <div class="tools-text">Git, Oracle, MySQL, PostgreSQL, JasperReports, <br />Postman, SoapUI, CPanel</div>
            </div>
          </div>
          <!-- BACKEND SECTION END -->
        </div>

      </div>
    </div>
    <!-- PANEL 3 END -->
  </div>
</main>


<router-outlet />