<main class="main">
  <div class="content">
    <!-- MENU -->
    <div class="menu">
      <img [src]="logo" class="logo" alt="logo" />
      <div class="menu-items">
        <div class="menu-item">Home</div>
        <div class="menu-item">Portfolio</div>
        <div class="menu-item">Contact</div>
      </div>
    </div>
    <!-- MENU END -->

    <!-- PANEL 1 -->
    <div class="home-panel">
      <img src="../assets/img/WoWScrnShot_020324_165142.jpg" class="background" alt="" />
      <div class="home-panel-text-1">
        <div class="title-1">Full stack Software Developer</div>
        <div class="description-1">Dedicated and enthusiastic person. I love coding, and also providing you awesome
          solutions.</div>
      </div>
    </div>
    <!-- PANEL 1 END -->

    <!-- PANEL 2 -->
    <div class="home-panel">
      <img src="../assets/img/WoWScrnShot_020324_173939.jpg" class="background" alt="" />
      <div class="home-panel-text-2">
        <div class="section-2">
          <div class="subsection-2">
            <div class="padding-bottom-10vh">
              <div class="title-2"><!--style="width: 100%; text-align: right"-->
                Hi all! My name is
                Julian.<!--style="color: #F88982; font-size: 60px; font-family: Irish Grover; font-weight: 400; line-height: 50px; word-wrap: break-word"-->
              </div>
              <div class="subtitle-2">
                I am a Fullstack Developer based in
                Vancouver.<!--style="color: #F88982; font-size: 32px; font-family: Irish Grover; font-weight: 400; line-height: 50px; word-wrap: break-word"-->
              </div>
            </div>
            <div class="description-2 padding-top-10vh">
              <span>I’ve been working as developer since 2015.</span>
              <span>I’ve always been a person who has dedication and focus on
                analyze situations and writing clean and well-maintained code.</span>
            </div>
            <!--style="width: 100%; text-align: right; color: white; font-size: 26px; font-family: Courier Prime; font-weight: 400; word-wrap: break-word"-->
          </div>
          <img src="../assets/img/nailuj-happy.png" class="image-2" alt="" />
        </div>
      </div>
    </div>
    <!-- PANEL 2 END -->
  </div>
</main>


<router-outlet />