.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 2.8rem;
    height: 2.8rem;
    padding: 0;

    background-color: var(--red);
    border: none;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
    z-index: 20;
}

.btn.active {
    border: none;
    background: none;
    color: white;
}

.scroll-to-top:hover {
    background-color: var(--red-hover);
}

.show-scrollTop {
    opacity: 1;
    cursor: pointer;
}

.show-scrollTop-btn {
    cursor: pointer;
}

.ng-fa-icon {
    font-size: 1.1rem;
    color: white;
}

@media only screen and (max-width: 768px) {
    .scroll-to-top {
        bottom: 1.5rem;
        right: 1.2rem;
        width: 2.4rem;
        height: 2.4rem;
    }

    .ng-fa-icon {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 472px) {
    .scroll-to-top {
        bottom: 1rem;
        right: 1rem;
        width: 2.2rem;
        height: 2.2rem;
    }

    .ng-fa-icon {
        font-size: 0.9rem;
    }
}
