<div class="slides">
    <div class="slide" [style]="{transition: 'opacity ' + animationSpeed + 'ms ease-in-out'}">
        <div class="title font-family-courier-prime text-align-center width-100">{{slides[currentSlide].title}}</div>
        <div class="description font-family-courier-prime text-align-left width-100">
            {{slides[currentSlide].description}}</div>
        <div class="font-family-indie-flower text-align-center">
            <a mat-flat-button color="primary" class="link" href="{{slides[currentSlide].url}}" target="_blank">LINK TO
                THE PROJECT</a>
        </div>
    </div>

    @if(indicatorsVisible) {
    <div class="indicators">
        @for(slide of slides; track $index) {
        <div class="indicator" [class]="{ active: $index === currentSlide }" (click)="jumpToSlide($index)">
        </div>
        }
    </div>
    }

    <button (click)="next()" class="nextButton">
        <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
    <button (click)="previous()" class="previousButton">
        <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>
</div>