.menu {
    display: flex;
    background-color: #2B2B2B;
    justify-content: end;
    height: 7vh;
}

.menu-items {
    align-items: center;
    display: flex;
    justify-content: end;
}

.menu-item {
    color: #C6CDD3;
    font-size: 1.8rem;
    font-weight: 400;
    word-wrap: break-word;
    padding: 0 2vh;
}

.mat-mdc-button:not(:disabled) {
    color: #C6CDD3;
}

@media only screen and (max-width: 1400px) {

    .menu {
        height: 6vh;
    }

    .menu-item {
        font-size: 1.7rem;
    }

}

@media only screen and (max-width: 1200px) {

    .menu {
        height: 8vh;
    }

    .menu-item {
        font-size: 1.5rem;
    }

}

@media only screen and (max-width: 992px) {

    .menu {
        height: 5vh;
    }

}

@media only screen and (max-width: 768px) {

    .menu-item {
        font-size: 1rem;
    }

}

@media only screen and (max-width: 472px) {

    .menu-item {
        font-size: 1rem;
        padding: 0 1vh;
    }

}