<div id="experience">
    <span class="title">{{getText("experience-title")}}</span>
    <div class="list-experiences">
        <div class="item-experience" [style]="{transition: 'opacity ' + animationSpeed + 'ms ease-in-out'}">
            <div class="details-item">
                <span class="left bold">{{getText(slides[currentSlide].title)}}</span>
                <span class="right">{{getText(slides[currentSlide].duration)}}</span>
                <a class="left" [href]="slides[currentSlide].link" target="_blank">{{slides[currentSlide].nameLink}}</a>
                <span class="right">{{slides[currentSlide].place + (slides[currentSlide].isRemote ? " (" +
                    getText("remote") + ")" : "")}}</span>
            </div>
            <div class="technologies-item" *ngIf="slides[currentSlide].technologies !== null">
                @for(technology of slides[currentSlide].technologies; track $index) {
                <img [alt]="technology" [src]="'assets/svg/' + technology + '.svg'" class="tech-icon">
                }
            </div>
        </div>

        <div class="indicators">
            @for(slide of slides; track $index) {
            <div class="indicator" [class]="{ active: $index === currentSlide }" (click)="jumpToSlide($index)"
                onkeypress="">
            </div>
            }
        </div>

        @if(slides.length > 1) {
        <button (click)="next()" class="nextButton">
            <fa-icon [icon]="faArrowRight"></fa-icon>
        </button>
        <button (click)="previous()" class="previousButton">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>
        }
    </div>
</div>