<div id="experience">
    <span class="title">{{getText("experience-title")}}</span>
    <div class="list-experiences">
        <div class="item-experience">
            <div class="details-item">
                <span class="left bold">{{getText("experience-1-job")}}</span>
                <span class="right">{{getText("experience-1-duration")}}</span>
                <a class="left" href="{{env.helpUsDefendLink}}" target="_blank">Help us Defend</a>
                <span class="right">Vancouver, BC ({{getText("remote")}})</span>
            </div>
            <div class="technologies-item">
                <img alt="cs" src="assets/svg/csharp.svg" class="tech-icon">
                <img alt="unity" src="assets/svg/unity.svg" class="tech-icon">
                <img alt="git" src="assets/svg/git.svg" class="tech-icon">
            </div>
        </div>
        <div class="item-experience">
            <div class="details-item">
                <span class="left bold">{{getText("experience-2-job")}}</span>
                <span class="right">{{getText("experience-2-duration")}}</span>
                <a class="left" href="{{env.globalHitssLink}}" target="_blank">Global Hitss S.A</a>
                <span class="right">Bogotá D.C, Colombia</span>
            </div>
            <div class="technologies-item">
                <img alt="java" src="assets/svg/java.svg" class="tech-icon">
                <img alt="javascript" src="assets/svg/javascript.svg" class="tech-icon">
                <img alt="html" src="assets/svg/html.svg" class="tech-icon">
                <img alt="css" src="assets/svg/css.svg" class="tech-icon">
                <img alt="git" src="assets/svg/git.svg" class="tech-icon">
                <img alt="maven" src="assets/svg/maven.svg" class="tech-icon">
                <img alt="oracle" src="assets/svg/oracle.svg" class="tech-icon">
            </div>
        </div>
        <div class="item-experience">
            <div class="details-item">
                <span class="left bold">{{getText("experience-3-job")}}</span>
                <span class="right">{{getText("experience-3-duration")}}</span>
                <a class="left" href="{{env.bancoDeBogotaLink}}" target="_blank">Banco de Bogotá</a>
                <span class="right">Bogotá D.C, Colombia</span>
            </div>
            <div class="technologies-item">
                <img alt="java" src="assets/svg/java.svg" class="tech-icon">
                <img alt="typescript" src="assets/svg/typescript.svg" class="tech-icon">
                <img alt="html" src="assets/svg/html.svg" class="tech-icon">
                <img alt="css" src="assets/svg/css.svg" class="tech-icon">
                <img alt="spring" src="assets/svg/springboot.svg" class="tech-icon">
                <img alt="nodejs" src="assets/svg/nodejs.svg" class="tech-icon">
                <img alt="angular" src="assets/svg/angular.svg" class="tech-icon">
                <img alt="git" src="assets/svg/git.svg" class="tech-icon">
                <img alt="maven" src="assets/svg/maven.svg" class="tech-icon">
                <img alt="mysql" src="assets/svg/mysql.svg" class="tech-icon">
                <img alt="redis" src="assets/svg/redis.svg" class="tech-icon">
            </div>
        </div>
        <div class="item-experience">
            <div class="details-item">
                <span class="left bold">{{getText("experience-4-job")}}</span>
                <span class="right">{{getText("experience-4-duration")}}</span>
                <a class="left" href="{{env.sistemasComercialesLink}}" target="_blank">Sistemas Comerciales SIA Ltda</a>
                <span class="right">Bogotá D.C, Colombia</span>
            </div>
            <div class="technologies-item">
                <img alt="java" src="assets/svg/java.svg" class="tech-icon">
                <img alt="php" src="assets/svg/php.svg" class="tech-icon">
                <img alt="javascript" src="assets/svg/javascript.svg" class="tech-icon">
                <img alt="html" src="assets/svg/html.svg" class="tech-icon">
                <img alt="css" src="assets/svg/css.svg" class="tech-icon">
                <img alt="yii" src="assets/svg/yii.svg" class="tech-icon">
                <img alt="git" src="assets/svg/git.svg" class="tech-icon">
                <img alt="maven" src="assets/svg/maven.svg" class="tech-icon">
                <img alt="xampp" src="assets/svg/xampp.svg" class="tech-icon">
                <img alt="oracle" src="assets/svg/oracle.svg" class="tech-icon">
                <img alt="mysql" src="assets/svg/mysql.svg" class="tech-icon">
            </div>
        </div>
        <div class="item-experience">
            <div class="details-item">
                <span class="left bold">{{getText("experience-5-job")}}</span>
                <span class="right">{{getText("experience-5-duration")}}</span>
                <a class="left" href="{{env.dataGlobalLink}}" target="_blank">Data Global S.A.S</a>
                <span class="right">Bogotá D.C, Colombia</span>
            </div>
            <div class="technologies-item">
                <img alt="php" src="assets/svg/php.svg" class="tech-icon">
                <img alt="javascript" src="assets/svg/javascript.svg" class="tech-icon">
                <img alt="html" src="assets/svg/html.svg" class="tech-icon">
                <img alt="css" src="assets/svg/css.svg" class="tech-icon">
                <img alt="yii" src="assets/svg/yii.svg" class="tech-icon">
                <img alt="git" src="assets/svg/git.svg" class="tech-icon">
                <img alt="xampp" src="assets/svg/xampp.svg" class="tech-icon">
                <img alt="mysql" src="assets/svg/mysql.svg" class="tech-icon">
            </div>
        </div>
        <div class="item-experience">
            <div class="details-item">
                <span class="left bold">{{getText("experience-6-job")}}</span>
                <span class="right">{{getText("experience-6-duration")}}</span>
                <a class="left" href="{{env.sistemasComercialesLink}}" target="_blank">Sistemas Comerciales SIA Ltda</a>
                <span class="right">Bogotá D.C, Colombia</span>
            </div>
            <div class="technologies-item">
                <img alt="java" src="assets/svg/java.svg" class="tech-icon">
                <img alt="git" src="assets/svg/git.svg" class="tech-icon">
                <img alt="maven" src="assets/svg/maven.svg" class="tech-icon">
                <img alt="oracle" src="assets/svg/oracle.svg" class="tech-icon">
            </div>
        </div>
        <div class="item-experience last">
            <div class="details-item">
                <span class="left bold">{{getText("experience-7-job")}}</span>
                <span class="right">{{getText("experience-7-duration")}}</span>
                <a class="left" href="{{env.sistemasComercialesLink}}" target="_blank">Sistemas Comerciales SIA Ltda</a>
                <span class="right">Bogotá D.C, Colombia</span>
            </div>
            <div class="technologies-item">
                <img alt="php" src="assets/svg/php.svg" class="tech-icon">
                <img alt="javascript" src="assets/svg/javascript.svg" class="tech-icon">
                <img alt="html" src="assets/svg/html.svg" class="tech-icon">
                <img alt="css" src="assets/svg/css.svg" class="tech-icon">
                <img alt="xampp" src="assets/svg/xampp.svg" class="tech-icon">
                <img alt="mysql" src="assets/svg/mysql.svg" class="tech-icon">
            </div>
        </div>
    </div>

    <span class="title">{{getText("studies-title")}}</span>
    <div class="list-studies">
        <div class="item-study">
            <div class="details-item">
                <span class="left bold">{{getText("study-1-title")}}</span>
                <span class="right">{{getText("study-1-duration")}}</span>
                <a class="left" href="{{env.canadianCollegeLink}}" target="_blank">Canadian College</a>
                <span class="right">Vancouver, BC</span>
            </div>
        </div>
        <div class="item-study">
            <div class="details-item">
                <span class="left bold">{{getText("study-2-title")}}</span>
                <span class="right">{{getText("study-2-duration")}}</span>
                <a class="left" href="{{env.viuLink}}" target="_blank">Universidad Internacional de Valencia</a>
                <span class="right">Bogotá D.C, Colombia ({{getText("remote")}})</span>
            </div>
        </div>
        <div class="item-study last">
            <div class="details-item">
                <span class="left bold">{{getText("study-3-title")}} <a class="wes-link" href="{{env.eciWesLink}}"
                        target="_blank">(WES Canada)</a></span>
                <span class="right">{{getText("study-3-duration")}}</span>
                <a class="left" href="{{env.eciLink}}" target="_blank">Escuela Colombiana de Ingenieria Julio
                    Garavito</a>
                <span class="right">Bogotá D.C, Colombia</span>
            </div>
        </div>
    </div>
</div>