#experience {
    padding: 7vh 0 6vh 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
    background-color: #75a6ff;
}

.title {
    color: #d72317;
    font-size: 6vh;
    text-align: center;
    text-transform: uppercase;
}

.list-experiences {
    width: 60%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    content-visibility: auto;
    background: rgb(181 181 181 / 80%);
    border-radius: 20px;
    padding: 1% 2%;

    .item-experience {
        margin-bottom: 1rem;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .details-item {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            span,
            a {
                flex: 1 1 40%;
                padding: 0.3vh 0;
                font-size: 2.5vh;
            }

            span {
                color: #2f2f2f;
            }

            a {
                text-decoration: none;
                color: #3f5299;

                &:hover {
                    color: #2955ff;
                }
            }

            .bold {
                font-weight: 500;
            }

            .left {
                text-align: left;
            }

            .right {
                text-align: right;
            }
        }

        .technologies-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .tech-icon {
                width: 3rem;
                padding: 1rem;
                content-visibility: auto;
            }
        }
    }

    .nextButton,
    .previousButton {
        position: absolute;
        top: 50%;
        border: 0px;
        background-color: transparent;
        font-size: 30px;
        color: #4f4f4f;
        cursor: pointer;
    }

    .nextButton {
        right: 3%;
    }

    .previousButton {
        left: 3%;
    }

    .indicators {
        position: absolute;
        left: 0px;
        right: 0px;
        margin: auto;
        bottom: 20px;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        row-gap: 0.5rem;
        column-gap: 0.2rem;

        .indicator {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #bebebe;
            display: inline-block;
            margin: 0 2%;
            cursor: pointer;
            transition: background-color 0.5s ease-in-out;

            &.active {
                background-color: #4f4f4f;
            }
        }
    }
}

@media only screen and (max-width: 1400px) {
    .list-experiences {
        .item-experience {
            .technologies-item {
                .tech-icon {
                    width: 2rem;
                    padding: 0.7rem;
                }
            }
        }

        .nextButton,
        .previousButton {
            font-size: 25px;
        }

        .indicators {
            .indicator {
                width: 15px;
                height: 15px;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .list-experiences {
        padding: 2% 2%;

        .item-experience {
            .technologies-item {
                .tech-icon {
                    width: 2rem;
                    padding: 0.5rem;
                }
            }
        }

        .indicators {
            .indicator {
                margin: 0 3%;
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    #experience {
        padding: 6vh 0 6vh 0;
    }

    .list-experiences {
        width: 75%;
        padding: 3% 2%;

        .item-experience {
            padding: 1rem 0;

            .details-item {

                span,
                a {
                    padding: 0.2vh 0;
                    font-size: 1.4vh;
                }
            }

            .technologies-item {
                .tech-icon {
                    width: 3rem;
                    padding: 1rem;
                }
            }
        }

        .nextButton {
            right: 5%;
        }

        .previousButton {
            left: 5%;
        }
    }
}

@media only screen and (max-width: 768px) {
    #experience {
        padding: 8vh 0 8vh 0;
    }

    .list-experiences {

        .item-experience {
            .details-item {

                span,
                a {
                    padding: 0.1vh 0;
                    font-size: 1.4vh;
                }
            }

            .technologies-item {
                .tech-icon {
                    width: 2rem;
                    padding: 0.5rem;
                }
            }
        }

        .nextButton {
            right: 2%;
        }

        .previousButton {
            left: 2%;
        }

        .indicators {
            width: 95%;
            row-gap: 0.8rem;
            column-gap: 0.1rem;

            .indicator {
                margin: 0 5%;
                width: 9px;
                height: 9px;
            }
        }
    }
}

@media only screen and (max-width: 472px) {
    .title {
        font-size: 4vh;
    }

    .list-experiences {
        .item-experience {
            .technologies-item {
                .tech-icon {
                    width: 1.5rem;
                    padding: 0.4rem;
                }
            }
        }

        .nextButton,
        .previousButton {
            top: 25%;
        }

        .indicators {
            row-gap: 1rem;
            column-gap: 1rem;
        }
    }
}